
@{
    ViewBag.Title = "DersEkle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>DersEkle</h2>
<form method="post" class="form-group">
    <div class="mb-3">
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DersAd" />
       
    </div>
    <div class="row">
        <div class="col-2 align-content-center">
            <button class="btn btn-warning">Ekle</button>
        </div>
    </div>

</form>
