@model MVC5Project.Models.Dersler
@{
    ViewBag.Title = "Getir";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using (Html.BeginForm("Guncelle", "Default", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DersAd)
        @Html.TextBoxFor(m => m.DersAd, new { @class = "form-control" })
    </div>
  
    @Html.HiddenFor(m => m.DersID)
    <div>
        <button class="btn btn-info">GÜNCELLE</button>
    </div>
}

