
@{
    ViewBag.Title = "YeniEkle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>YeniEkle</h2>

<form method="post" class="form-group">
    <div>
        <label>Kulüp Adı </label>
        <input type="text" class="form-control" name="KulupAd" />
    </div>
    <div class="row">
        <div class="col-2 align-content-center">
            <button class="btn btn-warning">Ekle</button>
        </div>
    </div>

</form>